<div class="box">
  <header>
    <p class="title"><%= link_to collection.name, short_collection_path(collection) %></p>
    <p class="subtitle"><%= collection.description %></p>
  </header>

  <ul>
    <li>
      By: <%= link_to user_path(collection.user.github_name) do %>
          <%= image_tag collection.user.image, class: "small-github-avatar" %> <%= collection.user.github_name %>
      <% end %>
    </li>
  </ul>

</div>
