<div class="box">
  <header>
    <p class="title"><%= link_to collection.name, short_collection_path(collection) %></p>
    <p class="subtitle"><%= collection.description %></p>
  </header>

  <ul>
    <li>
      Help Wanted Issues: <span class="tag"><%= collection.issues.help_wanted.count %></span>
    </li>
    <li>
      By: <%= link_to user_path(collection.owner.github_name) do %>
          <%= image_tag collection.owner.image, class: "small-github-avatar" %> <%= collection.owner.github_name %>
      <% end %>
    </li>
  </ul>

</div>
