<%= content_for :title, @collection.name %>
<%= content_for :sub_title, "Help Wanted issues from all the projects in this collection." %>

<% if current_user == @collection.user %>
  <% content_for :action do %>
    <div class="level">
      <%= link_to collection_projects_path(@collection), class: "button is-primary level-item" do %>
        See projects &nbsp; <i class="fa fa-list" aria-hidden="true"></i>
      <% end %>
      <%= link_to @collection, class: "button is-primary level-item", method: :delete, data: { confirm: 'Are you sure?' } do %>
        Remove Collection &nbsp; <i class="fa fa-trash" aria-hidden="true"></i>
      <% end %>
      <%= link_to edit_collection_path(@collection), class: "button is-primary level-item" do %>
        Edit Collection &nbsp; <i class="fa fa-pencil" aria-hidden="true"></i>
      <% end %>
      <%= link_to update_from_github_collection_path(@collection), class: "button is-primary level-item github-modal", method: :put, remote: true do %>
        Update from Github &nbsp; <i class="fa fa-github" aria-hidden="true"></i>
      <% end %>
    </div>
  <% end %>
<% end %>

<% @issues.in_groups_of(3, false).each do |issues| %>
  <div class="tile is-12">
    <%= render issues %>
  </div>
<% end %>

<%= paginate @issues %>
<p><%= page_entries_info @issues %></p>

<%= render 'modal' %>
