<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1><%= @collection.name %> <small><%= @collection.description %></small></h1>
  <div role="group" class="btn-group pull-right">
    <%= link_to 'Add Projects', new_project_path, class: 'btn btn-primary btn-sm' %>
    <%= link_to 'Edit', edit_collection_path(@collection), class: 'btn btn-info btn-sm' %>
    <td><%= link_to 'Update', update_from_github_collection_path(@collection), method: :put,class: 'btn btn-warning btn-sm' %></td>
    <%= link_to 'Issues', collection_issues_path(@collection), class: 'btn btn-default btn-sm' %>
  </div>
</div>

<% unless @projects.empty? %>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= link_to project.name, project %></td>
          <td><%= project.description %></td>
          <td><%= link_to 'Edit', edit_project_path(project) %></td>
          <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
