<div class="tile is-child box">

  <p class="title"><%= link_to issue.title, issue.url %></p>

  <p>
    <% issue.labels.each do |label| %>
      <span class="issue tag" style="background-color: #<%= label.color %>"><%= label.name %></span>
    <% end %>
  </p>
  <br/>

  <p>Issue updated <%= time_ago_in_words issue.updated_at %> ago</p>

  <hr />

  <footer>
    <ul>
      <li>Repo: <%= link_to issue.repo_name, issue.repo_url %></li>
      <li>Owner: <%= link_to issue.owner, "https://github.com/#{issue.owner}" %></li>
    </ul>
  </footer>

</div>
