<div class="box">

  <p class="title"><%= link_to issue.title, issue.url %></p>

  <p>
    <% issue.labels.each do |label| %>
      <span class="issue tag" style="background-color: #<%= label.color %>"><%= label.name %></span>
    <% end %>
  </p>

  <hr />

  <footer class="level is-mobile">
    <%= link_to "https://github.com/" + issue.project.owner_login, class: "level-item" do %>
        <%= image_tag issue.project.owner_avatar_url, class: "small-github-avatar" %> <%= issue.project.owner_login %>
    <% end %>
    <%= link_to issue.project.name, issue.project.url, class: "level-item" %>
  </footer>

</div>
