<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1><%= @issue.title %></h1>
</div>

<p><%= @issue.url %></p>
<p><%= @issue.labels %></p>

<%= link_to 'Back', issue_path, class: 'btn btn-default' %>
