<div class="media box">
  <figure class="media-left">
    <p class="image is-64x64">
      <%= link_to user.github_name do %>
        <%= image_tag user.image, size: '64', style: 'border-radius: 2px;' %>
      <% end %>
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
        <h4 class="media-heading"><%= link_to user.github_name, user.github_name %></h4>
        <p><%= user.email %></p>
    </div>
    <nav class="level">
      <div class="level-left">
        <%= link_to "Collections", users_collections_path(user.github_name), class: "button level-item" %>
        <%= link_to "Projects", users_projects_path(user.github_name), class: "button level-item" %>
        <%= link_to "Issues", users_issues_path(user.github_name), class: "button level-item" %>
      </div>
    </nav>
  </div>
</div>
