<div class="box">

  <div class="media">
    <figure class="media-left">
      <%= link_to user.github_name do %>
        <%= image_tag user.image, class: 'large-github-avatar' %>
      <% end %>
    </figure>
    <div class="media-content">
      <p class="media-heading title"><%= link_to user.github_name, user %></p>
    </div>
  </div>

  <ul>
    <li>
      <%= link_to user_collections_path(user) do %>
        Collections <span class="tag"><%= user.collections.count %></span>
      <% end %>
    </li>
    <li>
      <%= link_to user_issues_path(user) do %>
        Help Wanted Issues <span class="tag"><%= user.issues.help_wanted.count %></span>
      <% end %>
    </li>
  </ul>

  <% if current_user == user %>

    <hr />

    <footer class="level">
      <%= link_to new_collection_path, class: "button is-primary is-outlined level-item" do %>
        Create a new collection &nbsp; <i class="fa fa-plus" aria-hidden="true"></i>
      <% end %>
      <%= link_to new_project_path, class: "button is-primary is-outlined level-item" do %>
        Add a project to a collection &nbsp; <i class="fa fa-plus" aria-hidden="true"></i>
      <% end %>
      <%= link_to current_user, class: "button is-primary is-outlined level-item", method: :delete, data: { confirm: "You sure?" } do %>
        Delete my account &nbsp; <i class="fa fa-trash" aria-hidden="true"></i>
      <% end %>
    </footer>

  <% end %>
</div>
