<div class="box">
  <div class="media">
    <figure class="media-left">
      <p class="image is-64x64">
        <%= link_to user.github_name do %>
          <%= image_tag user.image, size: '64', style: 'border-radius: 5px;' %>
        <% end %>
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
          <h2 class="media-heading title is-2"><%= link_to user.github_name, user.github_name %></h2>
      </div>
    </div>
  </div>

  <br/>

  <ul id="block-menu">
    <% if current_user == user %>
      <li>
        <%= link_to new_collection_path, class: "button is-large is-primary is-outlined" do %>
          Create a Collection &nbsp; <i class="fa fa-plus"></i>
        <% end %>
      </li>
    <% end %>
  </ul>
  <ul class="control is-grouped">
    <li>
      <%= link_to users_collections_path(user.github_name), class: "button" do %>
        Collections <span class="tag"><%= user.collections.count %></span>
      <% end %>
    </li>
    <li>
      <%= link_to projects_path, class: "button" do %>
        Projects <span class="tag"><%= user.projects.count %></span>
      <% end %>
    </li>
    <li>
      <%= link_to issues_path, class: "button" do %>
        Issues <span class="tag"><%= user.issues.count %></span>
      <% end %>
    </li>
  </ul>
</div>
