<div class="box">

  <div class="media">
    <figure class="media-left">
      <p class="image is-64x64">
        <%= link_to user.github_name do %>
          <%= image_tag user.image, size: '64', style: 'border-radius: 5px;' %>
        <% end %>
      </p>
    </figure>
    <div class="media-content">
        <p class="media-heading title"><%= link_to user.github_name, user.github_name %></p>
    </div>
  </div>

  <hr />

  <footer class="level is-mobile">
    <%= link_to users_collections_path(user.github_name), class: "level-item" do %>
      Collections <span class="tag"><%= user.collections.count %></span>
    <% end %>
    <%= link_to users_projects_path(user.github_name), class: "level-item" do %>
      Project <span class="tag"><%= user.projects.count %></span>
    <% end %>
    <%= link_to users_issues_path(user.github_name), class: "level-item" do %>
      Issues <span class="tag"><%= user.issues.count %></span>
    <% end %>

  </footer>
</div>
