<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1><%= @user.github_name %> <small><%= @user.email %></small></h1>
</div>

<% if user_signed_in? %>
<ul>
  <li><a href="/<%= @user.github_name %>/collections">My Collections</a></li>
  <li><a href="/<%= @user.github_name %>/projects">My Projects</a></li>
  <li><a href="/<%= @user.github_name %>/issues">My Issues</a></li>
</ul>
<% else %>
<ul>
  <li><a href="/<%= @user.github_name %>/collections"><%= @user.github_name.capitalize %>'s Collections</a></li>
  <li><a href="/<%= @user.github_name %>/projects"><%= @user.github_name.capitalize %>'s Projects</a></li>
  <li><a href="/<%= @user.github_name %>/issues"><%= @user.github_name.capitalize %>'s Issues</a></li>
</ul>
<% end %>
