<%= form_for @project do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control">
    <%= f.label :url, class: "label" %><br>
    <%= f.text_field :url, class: 'input is-large' %>
    <p class="help">Add a Github project or organization url</p>
  </div>
  <div class="control">
    <%= f.label :collection_id, class: "label" %>
    <span class="select is-large">
      <%= f.collection_select :collection_id, @collections, :id, :name, {} %>
    </span>
  </div>
  <p class="control">
    <%= f.submit 'Submit', class: 'button is-primary is-large' %>
    <%= link_to 'Back', projects_path, class: 'button is-large' %>
  </p>
<% end %>
