<%= form_for [@collection, @project] do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url, class: "label" do %>
      Add a Github repository or a Github organization
    <% end %>
    <p class="control has-icons-right">
      <%= f.text_field :url, class: 'input is-medium', placeholder: "https://github.com/codeforamerica", required: true %>
      <span class="icon is-medium is-right">
        <i class="fa fa-github"></i>
      </span>
    </p>
  </div>

  <%= f.hidden_field :collection, value: @collection %>

  <div class="field is-grouped">
    <p class="control">
      <%= f.submit 'Submit', class: 'button is-primary is-large' %>
    </p>
    <p class="control">
    <%= link_to 'Back', collections_path, class: 'button is-large' %>
    </p>
  </div>

  <p>Wait a minute or two and the issues will start showing up.</p>
<% end %>
