<%= form_for @project do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url, class: "label" do %>
      Add a Github repository or a Github organization
    <% end %>
    <p class="control">
      <%= f.text_field :url, class: 'input is-medium', placeholder: "https://github.com/codeforamerica" %>
    </p>
  </div>

  <% if @current_collection %>
      <%= f.hidden_field :collection_id, value: @current_collection.id %>
  <% else %>
    <div class="field">
      <%= f.label :collection_id, class: "label" %>
      <p class="control">
        <span class="select is-large">
          <%= f.collection_select :collection_id, @collections, :id, :name, {} %>
        </span>
      </p>
    </div>
  <% end %>

  <div class="field is-grouped">
    <p class="control">
      <%= f.submit 'Submit', class: 'button is-primary is-large' %>
    </p>
    <p class="control">
    <%= link_to 'Back', projects_path, class: 'button is-large' %>
    </p>
  </div>

  <p>Wait a minute or two and the issues will start showing up.</p>
<% end %>
