<div class="box">

  <p class="title"><%= link_to project.name, project.url %></p>
  <p class="subtitle"><%= project.description %></p>

  <div class="level">
    <%= link_to "https://github.com/" + project.owner_login, class: "level-item" do %>
        <%= image_tag project.owner_avatar_url, class: "small-github-avatar" %> <%= project.owner_login %>
    <% end %>
  </div>

  <hr />

  <footer class="level is-mobile">
    <%= link_to project.collection, class: "button level-item" do %>
        <%= project.collection.name %>
    <% end %>
    <% if project.issues.present? %>
      <%= link_to project_issues_path(project), class: "button level-item" do %>
        Issues <span class="tag"><%= project.issues.count %></span>
      <% end %>
    <% end %>
  </footer>

</div>
