<div class="card col-xs-12">
  <div class="card-content">
    <div class="card-body">
      <h4><%= project.name %></h4>
      <p><%= project.description %></p>
    </div>

    <footer class="card-footer">
      <%= link_to "Issues", project, class: "btn btn-info btn-sm waves-effect waves-light" %>
      <div class="user-info pull-right">
        <%= image_tag project.collection.user.image, size: "25" %> <%= link_to project.collection.user.github_name %>
        <% if user_signed_in? %>
          <% if current_user.github_name == project.collection.user.github_name %>
            <%= link_to 'Remove', project, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm waves-effect waves-light' %>
          <% end %>
        <% end %>
      </div>
      </footer>
  </div>
</div>
