<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1><%= @project.name %> <small><%= @project.description %></small></h1>
</div>

<%= link_to 'New Project', new_project_path, class: 'btn btn-primary' %> |
<%= link_to 'Back', projects_path, class: 'btn btn-default' %> |
<%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-default' %>
