<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1><%= @project.name %> <small><%= @project.description %></small></h1>
  <div class="btn-group" role="group">
    <%= link_to 'New Project', new_project_path, class: 'btn btn-primary' %>
    <%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-info' %>
    <%= link_to 'Update', update_from_github_project_path(@project), method: :put, class: 'btn btn-success' %>
    <%= link_to 'Remove', @project, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  </div>

</div>

<% unless @issues.empty? %>
  <table class="table">
    <caption><%= @project.name %>'s Issues</caption>
    <thead>
      <tr>
        <th>Title</th>
        <th>Url</th>
        <th>Labels</th>
        <th>Project</th>
      </tr>
    </thead>

    <tbody>
      <% @issues.each do |issue| %>
        <tr>
          <td><%= link_to issue.title , issue%></td>
          <td><%= issue.url %></td>
          <td><%= issue.label_string %></td>
          <td><%= link_to issue.project.name, issue.project %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
