<%= form_for [@collection, @organization] do |f| %>
  <% if @organization.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @organization.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url, class: "label" do %>
      Add a GitHub organization
    <% end %>
    <p class="control is-expanded has-icons-left">
      <%= f.text_field :url, class: 'input is-expanded is-medium', placeholder: "https://github.com/codeforamerica", type: "url", required: true %>
      <span class="icon is-medium is-left">
        <i class="fa fa-github"></i>
      </span>
    </p>
  </div>

  <%= f.hidden_field :collection_id, value: @collection.id %>

  <div class="field is-grouped">
    <p class="control">
      <%= f.submit 'Submit', class: 'button is-primary is-large' %>
    </p>
    <p class="control">
    <%= link_to 'Back', collections_path, class: 'button is-large' %>
    </p>
  </div>
<% end %>
