<!DOCTYPE html>
<html lang="en">
<head>
  <title>AllGitEverything</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= javascript_include_tag 'application' %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>

<body>

  <nav class="nav hero is-primary">

    <div class="container">

      <div class="nav-left">
        <a class="nav-item is-brand is-large" href="/"> AllGitEverything </a>
      </div>

      <div class="nav-right">
        <% if user_signed_in? %>
          <span class="nav-item">
            <%= link_to "#{image_tag(current_user.image, class: "github-avatar")} #{current_user.github_name}".html_safe, "/" + current_user.github_name, class: "nav-item" %>
            <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-item" %>
          </span>
        <% else %>
          <%= link_to "Sign in with Github", user_github_omniauth_authorize_path, class: "nav-item sign-in is-pulled-right" %>
        <% end %>
      </div>

    </div>

  </nav>

  <nav class="nav hero is-primary">
    <ul class="container ul level is-mobile">
      <li class="nav-item level-item">
        <%= link_to "Collections", collections_path %>
      </li>
      <li class="nav-item level-item">
        <%= link_to "Projects", projects_path %>

      </li>
      <li class="nav-item level-item">
        <%= link_to "Issues", issues_path %>
      </li>
    </ul>
  </nav>

  </nav>

  <section class="section hero is-primary">
    <div class="container">
      <h2 class="title is-2"><%= @title %></h2>
      <%= content_for :sub_title %>
      <%= render "shared/search" %>
    </div>
  </section>

  <section class="section">
    <div class="container">

      <%= yield %>

    </div>
  </section>

</body>
</html>
