<!DOCTYPE html>
<html lang="en">
<head>
  <title>#helpwanted</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= render "layouts/mixpanel" %>
  <%= render "layouts/ganalytics" %>

  <%= javascript_include_tag 'application' %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>

<body>

  <nav class="nav">

    <div class="container">

      <div class="nav-left">
        <a class="nav-item is-brand is-large" href="/">#helpwanted</a>
      </div>

      <div class="nav-center">
        <%= link_to "Collections", collections_path, class: "nav-item is-tab" %>
        <% if user_signed_in? %>
          <%= link_to "#{image_tag(current_user.image, class: "small-github-avatar-header")}".html_safe, user_path(current_user), class: "nav-item is-tab" %>
          <%= link_to '<i class="fa fa-sign-out fa-lg" aria-hidden="true"></i>'.html_safe, destroy_user_session_path, method: :delete, class: "nav-item is-tab" %>
        <% else %>
          <%= link_to '<i class="fa fa-github fa-lg" aria-hidden="true"></i>'.html_safe, user_github_omniauth_authorize_path, class: "nav-item is-tab" %>
        <% end %>
      </div>

    </div>

  </nav>

  <section class="section hero is-primary">
    <div class="container">
      <h1 class="title is-1"><%= content_for :title or @title %></h1>
      <h4 class="subtitle is-4"><%= content_for :sub_title or @subtitle %></h4>
      <%= content_for :action %>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="tile is-ancestor is-vertical">
        <%= yield %>
      </div>
    </div>
  </section>

</body>
</html>
