<!DOCTYPE html>
<html lang="en">
<head>
  <title>GitCollections</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= javascript_include_tag 'application' %>
  <%= render "layouts/mixpanel" %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.1/css/bulma.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>

<body>

  <nav class="nav">

    <div class="container">

      <div class="nav-left">
        <a class="nav-item is-brand is-large" href="/">GitCollections</a>
      </div>

      <span id="nav-toggle" class="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
      </span>

      <div id="nav-menu" class="nav-right nav-menu">
        <li class="nav-item">
          <%= link_to "Collections", collections_path %>
        </li>
        <li class="nav-item">
          <%= link_to "Projects", projects_path %>
        </li>
        <li class="nav-item">
          <%= link_to "Issues", issues_path %>
        </li>
        <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "#{image_tag(current_user.image, class: "small-github-avatar")}".html_safe, user_path(current_user) %>
        </li>
        <li class="nav-item">
          <%= link_to '<i class="fa fa-sign-out fa-lg"></i>'.html_safe, destroy_user_session_path, method: :delete %>
        </li>
        <% else %>
        <li class="nav-item">
          <%= link_to "Sign in with Github", user_github_omniauth_authorize_path %>
        </li>
        <% end %>
      </div>

    </div>

  </nav>

  <section class="section hero is-primary">
    <div class="container">
      <h2 class="title is-2"><%= content_for :title or @title %></h2>
      <h3 class="subtitle is-3"><%= content_for :sub_title or @subtitle %></h3>
      <%= render "shared/search" if params[:action].in? ["index", "show"] %>
    </div>
  </section>

  <section class="section">
    <div class="container">

      <%= yield %>

    </div>
  </section>

</body>
</html>
